.card {
  width: 250px;
  border: 1px solid #333;
  border-radius: 10px;
  overflow: hidden;
  background: #111;
  color: #fff;
}

.poster {
  width: 100%;
  height: 375px;
  object-fit: cover;
}

.info {
  padding: 10px;
}

.title {
  margin: 5px 0;
}