@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
  --color1: #210304;
  --color2: #8b0000;
  --color3: #cfc19d;
  --MediaCounter: 350px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-e: var(--font-electrolize);
  --font-bs: var(--font-bungee-shade);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
    --color1: #210304;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
