@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
  --color1: #210304;
  --color2: #8b0000;
  --color3: #d9c8b3;
  --header-h: 80px;
  --MediaCounter: 350px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-e: var(--font-electrolize);
  --font-bs: var(--font-bungee-shade);
  --mc: var(--MediaCounter);
  --hh: var(--header-h)
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
    --color1: #210304;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

.page {
  @apply bg-linear-to-b to-[#210304] from-[#000000] w-full min-h-screen pt-(--hh);
}